# Assignment 1
### Task 1
> **By Jacques van der Westhuizen**

> *21-11-2021*

In [1]:
# 1.

x = 5

for i in range(x,0,-1):
    print((str(x)+' ')*i)

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [2]:
# 2.

x = 0

for i in range(6,1,-1):
    for m in range(0,i):
        print(x+m, end=' ')
    print('')

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [3]:
# 3.

for i in range(1,6):
    for b in range(0,i):
        print(i*2-1,end=' ')
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [4]:
# 4.

for i in range(0,6):
    for k in range(i,0,-1):
        print(k, end=' ')
    print('')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
# 5. 

x = 0
m = 1
n = 1
for i in range(0,4):
    for p in range(m,x,-1):
        print(p,end=' ')
    print('')
    m += n+1
    x += n
    n += 1

1
3 2
6 5 4
10 9 8 7

In [6]:
# 6.

x = 1
z = 1
a = 1
for i in range(0,7):
    for y in range(0,x):
        print(z, end=' ')
    print('')
    x += 1
    if x > 2:
        print(z, end=' ')
        print(z+a, end=' ')

1
1 1
1 2 1 1 1
1 2 1 1 1 1
1 2 1 1 1 1 1
1 2 1 1 1 1 1 1
1 2 1 1 1 1 1 1 1
1 2

In [7]:
# 7.

for a in range(1,6):
    for b in range(1,6):
        if a <= b:
            print(b, end=' ')
        elif a > b:
            print(a, end=' ')
    print('')

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [8]:
# 8.

for a in range(1,9):
    for b in range(1,a+1):
        print(a*b, end=' ')
    print('')

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [9]:
# 9.

c=0
for a in range(7,0,-1):
    print(' '*c,end=' ')
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')
    c+=1

 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [10]:
# 10.

c=7
for a in range(0,7):
    print(' '*c,end=' ')
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')
    c-=1

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [11]:
# 11.

for a in range(0,7):
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')
print(' ')
for a in range(6,0,-1):
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
# 12.

for a in range(0,6):
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')
for a in range(4,0,-1):
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
# 13. 

c=10
for a in range(0,6):
    print(' '*c,end=' ')
    c-=2
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')
d=2
for a in range(4,0,-1):
    print(' '*d,end=' ')
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')
    d+=2

         *
       * *
     * * *
   * * * *
 * * * * *
   * * * *
     * * *
       * *
         *

In [14]:
# 14.

d=2
for a in range(6,0,-1):
    print(' '*d,end=' ')
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')
    d+=1
c=8
for a in range(0,7):
    print(' '*c,end=' ')
    c-=1
    for b in range(a,0,-1):
        print('*',end=' ')
    print('')

   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

In [15]:
# 15.

c=8
for a in range(0,8):
    print('*'*c,end='')
    c-=1
    for b in range(a,0,-1):
        print('_'*2,end='')
    for e in range(c+1):
        print('*',end='')
    
    print('')

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*